.news {
    margin-top: 20px;
    padding-bottom: 20px;
    width: calc(100% - 2*50px);
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-gap: 15px;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
    .news {
        grid-template-columns:1fr
    }
}