.news-page__comments {
    margin-top: 10px;
    font-family: 'Playfair Display', Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    color: chocolate;
    display: flex;
    align-items: center;
}